@media (max-width: 834px) {
    .home {
        main > section {
            padding-left: 5% !important;
        }
        main {
            .welcome {
                padding: 75px 0;
                h1 {
                    margin-right: 118px;
                    margin-bottom: 40px;
                }
                h2 {
                    margin-right: 42px;
                    margin-bottom: 40px;
                }
                button {
                    display: block;
                }
                &_learn-more {
                    margin-top: 24px;
                }
            }

            .check-availability {
                padding-top: 36px;
                margin-bottom: 60px;
                form {
                    label {
                        width: 100%;
                        margin-bottom: 24px;
                    }
                    input {
                        width: 95%;
                        padding: 14px 0;
                        margin-bottom: 30px;
                    }
                    button {
                        margin: 12px 0 36px;
                    }
                }
            }
            .discover {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                align-content: center;
                span {
                    align-self: flex-start;
                    text-align: left;
                    margin-bottom: 32px;
                }
                &_discover-our {
                    margin-bottom: 60px;
                    h2 {
                        margin-bottom: 16px;
                    }
                    p {
                        margin-bottom: 24px;
                    }
                }
                &_strong-team {
                    margin: 0 10% 0 5%;
                    display: flex;
                    flex-direction: column;
                    &_image {
                        
                    }
                    &_card {
                        @include size(full);
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 45px;
                        &_people-front {
                            @include size(68px, 50px);
                            margin: 54px 0 29.5px;
                        }
                        &_people-behind {
                            @include size(144px, 106px);
                            position: absolute;
                            right: 0px;
                            top: 54px;
                            transform: translateX(-40%);
                            opacity: 0.05;
                        }
                        h3 {
                            text-align: center;
                            margin-bottom: 21px;
                        }
                        p {
                            text-align: center;
                            margin-bottom: 38px;
                        }
                    }
                }
            }

            .rooms-preview {
                margin: 0 10% 0 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                align-content: center;
                

                &_card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 60px;
                    &_image {
                        @include size(full);
                    }
                    &_calendar {
                        margin: 54px 0px;
                        margin-bottom: 35px;
                    }
                    &_title {
                        text-align: center;
                        margin-bottom: 21px;
                    }
                    p {
                        text-align: center;
                        margin: 0px 15%;
                        margin-bottom: 38.33px;
                        
                    }
                }
                span {
                    text-align: center;
                    margin-bottom: 24px;
                }
                &_title2 {
                    text-align: center;
                    margin-bottom: 24px;
                }
                &_slider {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  
                        &_menu {
                            padding: 15px 26px;
                            height: 40px;
                            z-index: 2;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;                            gap: 20px;
                            @include shadow(normal);
                            position: absolute;
                            top: -5%;
                            img {
                                @include size(15px, 15px);
                            }
                        }

                        &_image {

                        }
                        &_left {
                            @include arrow(left, black);
                            z-index: 8;
                            position: absolute;
                            right: 0px;
                            top: 50%;
                        }
                        &_right {
                            @include arrow(right, black);
                            z-index: 8;
                            position: absolute;
                            left: 0px;
                            top: 50%;
                        }
                    
                }
                &_info {
                    
                }
            }
        }
    }
}
