@media (max-width: 834px) {
    main.rooms {
        .about-us {
            &__first {
                background-color: $myGrey;
                color: white;
                padding-top: 75px;
                padding-left: 5%;
                margin-bottom: 60px;
                h1 {
                    margin-right: 118px;
                    margin-bottom: 40px;
                }
                h2 {
                    margin-right: 42px;
                    margin-bottom: 40px;
                }
                button {
                    display: block;
                }
                &__ha  {
                    width: 100%;
                    display: flex;
                    place-items: end;
                    background-color: white;
                    padding: 30px;
                    color: black;
                }
            }
        }

        .rooms-list {
            padding: 5%;
            position: relative;
        }
    }
    footer {
        margin-top: 180px;
    }
}

@media (min-width: 834px) {
    main.rooms {

        .rooms-list {
            padding: 5%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }
    footer {
        margin-top: 180px;
    }
}
